<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarTogglerDemo03"
    aria-controls="navbarTogglerDemo03"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/"> Store Landing Page </a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/create_account">Create Account</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>
      <!-- username dropdown-->
      <div class="dropdown show">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          role="button"
          id="dropdownMenuLink"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Welcome, <%= Username %>!
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="/profile">Edit Profile</a>
          <a class="dropdown-item" href="#">View Shopping Cart</a>
          <a class="dropdown-item" href="#">Logout</a>
        </div>
      </div>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input
        id="search"
        class="form-control mr-sm-2"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-info" id="submit">
        Search
      </button>
    </form>
    <script>
      $('#submit').click(function(e) {
        e.preventDefault()
        var term = $('#search').val()
        window.location.href="search?" + term
      })
    </script>
  </div>
</nav>
