<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head'); %>
  </head>
  <%- include('./partials/nav'); %>
  <body>
    <div style='background:transparent !important' class="jumbo jumbotron">
      <h1 class="display-4">Thank You for the Purchase <%= Username %>!</h1>
      <p class="lead">
        Head home to buy more product or go to your profile to track your spending!
      </p>
      <hr class="my-4" />
    </div>
  </body>
  <%- include('./partials/footer'); %>
</html>