<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head'); %>
    </head>
    <%- include('./partials/nav'); %>
    <body>
        <form class= "elegant-lightback container" action="/check" method='POST'>
            <div class='container center'>
                <br><br><h1 class="jumbo"> Login</h1> <br><br>
                <div class='form-group row'></div>

                <div class='form-group row'>
                    <div class='col-sm-4'></div>
                    <div class='col-sm-4'>
                        <input type='text' placeholder="Username"class='field' id='username' name="username" required>
                    </div>
                </div>

                <div class='form-group row'></div>

                <div class='form-group row'>
                    <div class='col-sm-4'></div>
                    <div class='col-sm-4'>
                        <input type='password' placeholder="Password"class='field' id='password' name="password" required>
                    </div>
                </div>

                <% if (Credentials) { %>
                    <div class='form-group row'>
                        <div class='col-sm-4'></div>
                        <div class='col-sm-4'>
                            <p style="color:red; text-align: center; font-size:1.2em; font-weight: bold;"> Credentials are incorrect </p>
                        </div>
                    </div>
                <% } %>

                <div class='form-group row'></div>
                <div class='form-group row'></div>

                <div class='form-group row'>
                    <div class='col-sm-4'></div>
                    <div class='col-sm-4'>
                        <button class='button' id="loginBtn">Log In</button>
                    </div>
                </div>
            </div>
        </form>
    </body>
    <%- include('./partials/footer'); %>
</html>